# Environment variable overrides for local development
FLASK_APP=autoapp.py
# In production, set to a higher number, like 31556926
SEND_FILE_MAX_AGE_DEFAULT=0

POSTGRES_USER=<USER>
POSTGRES_PASSWORD=<PASSWORD>
POSTGRES_DB=<DB>
POSTGRES_HOST=<HOST>
POSTGRES_PORT=<PORT>

UPLOAD_DIR=url_shortener/static
FLASK_ENV=production
FLASK_DEBUG=0
LOG_LEVEL=info
GUNICORN_WORKERS=4
